<div class="ux-params">
<div class="ux-params-text">
<div class="evaluate-text">Evaluate based on  <strong class="ux-params-text">UX parameters</strong></div>
</div>
<div class="circle circle1">
    <span class="circle-text title">Perception</span>
    <div class="circle-bg"></div>
    <span class="circle-text circle-desc">Perception allows users of all abilities to understand, use and enjoy the web</span>
</div>
<div class="circle circle2">
    <span class="circle-text title">Accessibility</span>
    <div class="circle-bg"></div>
    <span class="circle-text circle-desc">Accessibility allows users of all abilities to understand, use and enjoy the web</span>
</div>
<div class="circle circle3">
    <span class="circle-text title">Discoverability</span>
    <div class="circle-bg"></div>
    <span class="circle-text circle-desc">Discoverability allows users of all abilities to understand, use and enjoy the web</span>
</div>
<div class="circle circle4">
    <span class="circle-text title">Omni-Channel</span>
    <div class="circle-bg"></div>
    <span class="circle-text circle-desc">Omni-Channel allows users of all abilities to understand, use and enjoy the web</span>
</div>
<div class="circle circle5">
    <span class="circle-text title">Performance</span>
    <div class="circle-bg"></div>
    <span class="circle-text circle-desc">Performance allows users of all abilities to understand, use and enjoy the web</span>
</div>
<div class="circle circle6">
    <span class="circle-text title">Social Shareability</span>
    <div class="circle-bg"></div>
    <span class="circle-text circle-desc">Social Shareability allows users of all abilities to understand, use and enjoy the web</span>
</div>
</div>


<!-- <div id="draggable">
<div id="dashboard" class="shadow">
  <div class="widget-inner loadable" id="a">
    <div class="circle circle6">
    <span class="circle-text">Social Shareability</span>
  </div>
</div>
<div class="widget-inner loadable" id="b">
   <div class="circle circle6">
    <div class="circle-bg"></div>
    <span class="circle-text circle-desc">Social Shareability allows users of all abilities to understand, use and enjoy the web</span>
    </div>
</div>
</div>
</div> -->
