/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: Bw Modelica;
    src: url("../src/assets/FastLane_Fonts/Fonts/Bw_Modelica/BwModelica-Regular.otf") format('truetype');
}

@font-face {
    font-family: Bw Modelica-Light;
    src: url("../src/assets/FastLane_Fonts/Fonts/Bw_Modelica/BwModelica-Light.otf") format('truetype');
}

@font-face {
    font-family: Bw Modelica-Medium;
    src: url("../src/assets/FastLane_Fonts/Fonts/Bw_Modelica/BwModelica-Medium.otf") format('truetype');
}



@font-face {
    font-family: Bw Modelica LTI;
    src: url("../src/assets/FastLane_Fonts/Fonts/BW_Modelica_LTI/BwModelicaLTI-Light.ttf") format('truetype');
}

@font-face {
    font-family: Bw Modelica LTI-Thin;
    src: url("../src/assets/FastLane_Fonts/Fonts/BW_Modelica_LTI/BwModelicaLTI-Thin.ttf") format('truetype');
}

@font-face {
    font-family: Bw Modelica LTI-Bold;
    src: url("../src/assets/FastLane_Fonts/Fonts/BW_Modelica_LTI/BwModelicaLTI-Bold.ttf") format('truetype');
}


@import '../src/styles/common.scss';

@font-face{
    font-family: Gotham;
    src:url("../src/assets/FastLane_Fonts/Fonts/FontsFree-Net-Gotham-UltraItalic.ttf") format('truetype');
}

.owl-dots{
    top:-60px;
    position: relative;
    background: transparent linear-gradient( rgba(46,46,46,.85),rgba(46,46,46,.85));
    border-radius: 27px;
    // opacity: 0.65;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffffff;
    opacity: 1;
}
.owl-theme .owl-dots .owl-dot span {
    background: none;
    border: 2px solid #ffffff;
    opacity: 1;
}