/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: Bw Modelica;
    src: url("../src/assets/FastLane_Fonts/Fonts/Bw_Modelica/BwModelica-Regular.otf") format('truetype');
}

@font-face {
    font-family: Bw Modelica-Light;
    src: url("../src/assets/FastLane_Fonts/Fonts/Bw_Modelica/BwModelica-Light.otf") format('truetype');
}

@font-face {
    font-family: Bw Modelica-Medium;
    src: url("../src/assets/FastLane_Fonts/Fonts/Bw_Modelica/BwModelica-Medium.otf") format('truetype');
}



@font-face {
    font-family: Bw Modelica LTI;
    src: url("../src/assets/FastLane_Fonts/Fonts/BW_Modelica_LTI/BwModelicaLTI-Light.ttf") format('truetype');
}

@font-face {
    font-family: Bw Modelica LTI-Thin;
    src: url("../src/assets/FastLane_Fonts/Fonts/BW_Modelica_LTI/BwModelicaLTI-Thin.ttf") format('truetype');
}

@font-face {
    font-family: Bw Modelica LTI-Bold;
    src: url("../src/assets/FastLane_Fonts/Fonts/BW_Modelica_LTI/BwModelicaLTI-Bold.ttf") format('truetype');
}