<div class="container-main" fxLayout="column" fxLayoutAlign="space-around center" [ngClass.xs]="'mobile-device'"  >
  <div class="heading" >
 <h1  >Discover our <span >Assessments</span></h1>
 </div>
 

   
  <div  class="front-container">
    <img class="front" src="../../../../assets/home/section-2.png" alt=""> 
   </div>

<div class="description" >
  <p class="video-desciption" >
    A unique low code solution that accelerates your digital journey by bringing together elements <br>
    to engineer best in class digital products in an agile and cost effective way
  </p>
 </div>

 <div class="ebutton" >
   <button type="button" onclick="">
     <span style="font-family: Bw Modelica-Medium;">
       Explore Assessments
     </span>
   </button>
 </div>
 

</div>

