<div class="client_container">
    <div class="client_left">
        <div class="client_left-content">
            <p class="feedback1">What our <span>Clients</span> has to say</p>
            <p class="actual_feedback">“As an offshore transformation tool, fastlane helped ensure scaling up of operations and delivering superior customer value.”</p>
            <p class="client">- Client Name, Designation Company</p>
            <div class="dots">
                <span class="dot1" ></span>
                <span class="dot2" ></span>
            </div> 
        </div>
        <!-- <img src="../../../../assets/home/Group 116495.svg" /> -->
    </div>

    <div class="client_right">
        <!-- <img src="../../../../assets/home/Mask Group 16.png"/> -->
    </div>
</div>