@import '../../../../styles/variables.scss';
.client_container {
    background: url('../../../../assets/home/Rectangle\ 3013.svg')no-repeat center / cover;
    //background-size: 100% 90vh;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.client_left{
    width: 100%;
    height: 60%;
    background: url('../../../../assets/home/Mask\ Group\ 66.svg') no-repeat center / cover;
    background-size: 90% 120%;
}

.client_right{
    width: 100%;
    height: 40%;
    background: url('../../../../assets/home/Mask\ Group\ 20.png') no-repeat center / cover;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}

.client_left-content{
    background: #FFFBF5 0% 0% no-repeat padding-box;
    height: auto;
    width: 90%;
    // margin-top: 30%;
     clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
}

.feedback1{
    width: 280px;
    height: 85px;
    padding-left: 32px;
    font: $client__feedback_header_mobile;
    letter-spacing: 0px;
    color: #2E2E2E;
    margin-top : 60px;
    opacity: 1;
   span{
    text-align: left;
    letter-spacing: 0px;
    font: $client__feedback_header_bold_mobile;
    color: #2E2E2E;
    width: 112px;
    height: 32px;
   }
}

.actual_feedback{
    width: 350px;
   /// height: 94px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 32px;
    font: $client__feedback_mobile;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: 27px;
    font-family: BW Modelica;
    letter-spacing: 0px;
    color: #2E2E2E;
    opacity: 1;
}

.client{
    font: $client__feedback_name_mobile;
    letter-spacing: 0px;
    opacity: 1;
    color: #2E2E2E;
    padding-left: 32px;
    margin-top: 10px;
    font-weight: 100;
}

.dots{
    margin-left: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dot1{
  margin: 0 2px; 
  cursor: pointer;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #2E2E2E;
  border-radius: 50%;
  opacity: 1;
}

.dot2{
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2E2E2E 0% 0% no-repeat padding-box;
    border: 1px solid #2E2E2E;
    opacity: 1;
}

@media (max-height : 630px){
    .feedback1{
        font:normal normal normal 25px/35px Bw Modelica;
        margin-top : 40px;
        padding-left: 10px;

        width: 250px;
        height: auto;
   span{
    text-align: left;
    letter-spacing: 0px;
    font: normal normal bold 27px/35px Bw Modelica;
    color: #2E2E2E;
    width: 112px;
    height: auto;
   }
    }

    .actual_feedback{
        width: 250px;
       /// height: 94px;
        text-align: left;
        box-sizing: border-box;
        padding-left: 10px;
        font: italic normal medium 18px/28px Bw Modelica;
        font-size: 16px;
        font-style: italic;
        font-weight: 600;
        line-height: 27px;
        font-family: BW Modelica;
        letter-spacing: 0px;
        color: #2E2E2E;
        opacity: 1;
    }

    .client{
        font: $client__feedback_name_mobile;
        letter-spacing: 0px;
        opacity: 1;
        color: #2E2E2E;
        padding-left: 10px;
        margin-top: 3px;
        font-weight: 100;
    }

    .dots{
        margin-left: 10px;
        margin-top: 7px;
        margin-bottom: 10px;
    }
}
@media (min-width : 700px){
    .client_container {
        height: 80vh;
        background: url('../../../../assets/home/Rectangle\ 3013.svg')no-repeat center / cover;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .client_left{
        width: 40%;
        height: 100%;
        background: url('../../../../assets/home/Group\ 116495.svg');
        z-index: 5;
        background-repeat: no-repeat;
        //background-size: 135% 500%;
        //background-position: 35% 50%;
         background-size: 120% 150%;
        background-position: center;
        display: flex;
        align-items: center;
    }

    .client_right{
        width: 60%;
        height: 100%;
        background: url('../../../../assets/home/Mask\ Group\ 16.png') no-repeat center / cover;
        background-size: 100% 100%;
    }

    .client_left-content{
        height: auto;
        width: 100%;
        // margin-top: 30%;
        clip-path: polygon(0 0, 100% 0, calc(100% - 70px) 100%, 0% 100%);
        background: #FFFBF5 0% 0% no-repeat padding-box;
        display: flex;
        flex-direction: column;
    }

    .feedback1{
    margin-top : 40px;
    opacity: 1;
    text-align: left;
     padding-left: 70px;
    font: $client__feedback_header_desktop;
    letter-spacing: 0px;
    color: #2E2E2E;
   // position: absolute; 
   width: 80%;
   height: auto;

   span{
    text-align: left;
    letter-spacing: 0px;
    font: $client__feedback_header_bold_desktop;
    color: #2E2E2E;
    width: auto;
    height: auto;
   }
}

.actual_feedback{
    text-align: left;
    box-sizing: border-box;
   width: 90%;
    // margin-top: 10px;
    padding-left: 70px;
    //position: absolute; 
    font: $client__feedback_desktop;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: 24px;
    font-family: BW Modelica;
    letter-spacing: 0px;
    color: #2E2E2E;
    opacity: 1;
    
}

.client{
    font: $client__feedback_name_desktop;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: 24px;
    font-family: BW Modelica;
    letter-spacing: 0px;
    opacity: 1;
    color: #2E2E2E;
    padding-left: 70px;
    width: 70%;
    //margin-top: 10px;
}

.dots{
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dot1{
  margin: 0 2px; 
  cursor: pointer;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #2E2E2E;
  border-radius: 50%;
  opacity: 1;
}

.dot2{
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2E2E2E 0% 0% no-repeat padding-box;
    border: 1px solid #2E2E2E;
    opacity: 1;
}
}