<!-- <div class="client_container">
    <div class="client_left">
        <div class="client_left-content">
            <p class="feedback1">What our <span>Clients</span> have to say</p>
            <p class="actual_feedback">“As an offshore transformation tool, fastlane helped ensure scaling up of operations and delivering superior customer value.”</p>
            <p class="client">- Client Name, Designation Company</p>
            <div class="dots">
                <span class="dot1" ></span>
                <span class="dot2" ></span>
            </div> 
        </div>
    </div>

    <div class="client_right">
    </div>
</div> -->

<div class="client_container">
    <div class="client_feedback_left">
       <img src="../../../../assets/home/Group 116495.svg" class="client_left_img"/>
       <!-- <img src="../../../../assets/home/Mask Group 66.svg"/> -->

       <div class="client_left-content">
           <p class="feedback_header">What our <span>Clients</span> have to say</p>
           <p class="actual_feedback">“As an offshore transformation tool, fastlane helped ensure scaling up of operations and delivering superior customer value.”</p>
           <p class="client_name">- Client Name, Designation Company</p>
           <div class="dots">
               <span class="dot1" ></span>
               <span class="dot2" ></span>
            </div> 
        </div>
   </div>
   
   <img src="../../../../assets/home/Mask Group 16.png" class="client_image_right"/>
   <!-- <img src="../../../../assets//home/Mask Group 20.png" class="client_image_right" /> -->
   <div class="client_right">

   </div>
</div>