<div class="client-feedback">
    <!-- <div class="clip"> -->
        <div class="feedback">
            <div class="feedback_content">
                <div class="content">
                    <p class="feedback1">What our <span>Clients</span> has to say</p>
                    <p class="actual_feedback">“As an offshore transformation tool, fastlane helped ensure scaling up of operations and delivering superior customer value.”</p>
                    <p class="client">- Client Name, Designation Company</p>
                    <div class="dots">
                        <span class="dot1" ></span>
                        <span class="dot2" ></span>
                    </div> 
                </div>
                
            </div>
            <!-- <img src="../../../../assets/home/Group 168.svg" class="image1"/> -->
            <div class="image_desk_class">
            <img src="../../../../assets/home/Group 116495.svg"  class="image_desk"/>
            </div>
        </div>
        <div class="image">
            <!-- <img src="../../../../assets/home/Mask Group 16/Mask Group 16.png" style="@media (min-width: 780px)"/>
            <img src="../../../../assets/home/Mobile/Screenshot 2021-06-03 at 12.55.39 PM.png"style="@media (max-width: 500px){ background : no-repeat}" /> -->
            <img src="../../../../assets/home/Mask Group 16/Mask Group 16.png" />
        </div>
    <!-- </div> -->
</div>