$section_content_text_font: normal normal normal 18px/30px Bw Modelica;

$section_header_text_font: normal normal 300 22px/30px Bw Modelica LTI;

$section_header_bold_text_font: normal normal bold 28px/35px Bw Modelica LTI-Bold;

$fastlane_logo_font: italic normal normal 40px/88px Gotham;

$section_button_font: normal normal bold 14px/20px Bw Modelica;

$section_header_text_font_mobile: normal normal 300 14px/32px Bw Modelica LTI;

$section_header_bold_text_font_mobile: normal normal bold 20px/32px Bw Modelica LTI-Bold;

$section_content_text_font_mobile: normal normal normal 13px/28px Bw Modelica;

$section_single_line_header_font: normal normal 300 24px/43px Bw Modelica LTI;

$list_item_header_bold_text_font: normal normal bold 20px/35px Bw Modelica-Medium;

$list_item_content_text_font: normal normal normal 16px/30px Bw Modelica;

$footer_link_text_font: normal normal normal 14px/30px Bw Modelica;

/*For mobiles of width < 370px*/
$section_accelerator_header_font_mobile : normal normal 300 19px/40px Bw Modelica LTI;

/*client-feedback*/
$client__feedback_header_mobile: normal normal normal 28px/40px Bw Modelica;
$client__feedback_header_bold_mobile:  normal normal bold 28px/40px Bw Modelica;
$client__feedback_mobile : italic normal medium 20px/32px Bw Modelica;
$client__feedback_name_mobile : normal normal normal 14px/28px Bw Modelica;

$client__feedback_header_desktop : normal normal normal 25px/40px Bw Modelica;
$client__feedback_header_bold_desktop :  normal normal bold 27px/40px Bw Modelica;
$client__feedback_desktop : italic normal medium 24px/42px Bw Modelica;
$client__feedback_name_desktop : normal normal normal 18px/28px Bw Modelica;