$section_content_text_font: normal normal normal 24px/40px Bw Modelica;

$section_header_text_font: normal normal 300 34px/58px Bw Modelica LTI;

$section_header_bold_text_font: normal normal bold 40px/58px Bw Modelica LTI;

$fastlane_logo_font: bold italic normal normal 56px/88px Gotham;

$section_button_font: normal normal medium 20px/30px Bw Modelica;

