$section_content_text_font: normal normal normal 17px/30px Bw Modelica;

$section_header_text_font: normal normal 300 20px/30px Bw Modelica LTI;

$section_header_bold_text_font: normal normal bold 23px/35px Bw Modelica LTI-Bold;

$fastlane_logo_font: italic normal normal 40px/88px Gotham;

$section_button_font: normal normal bold 14px/20px Bw Modelica;

$section_header_text_font_mobile: normal normal 300 14px/32px Bw Modelica LTI;

$section_header_bold_text_font_mobile: normal normal bold 20px/32px Bw Modelica LTI-Bold;

$section_content_text_font_mobile: normal normal normal 13px/28px Bw Modelica;;