<section class="accelerators" fxLayout="column" fxLayoutAlign="space-evenly center">
  <div>
    <h1 >Move ahead with our <span>Accelerators</span></h1>
  </div>

    <div class="carousel" fxLayout="column" fxLayout.gt-sm="row">
      <div class="content" id="imgs" *ngFor="let item of imageObject;" fxFlex fxLayout="column" fxLayoutAlign=" center">
          <div fxLayout="row" style="width: 100%;">
            
            <img class="btn-left" src="../../assets/home/DisableR.svg" *ngIf="disableLeft" fxShow.gt-sm="false"/>
            <img class="btn-left" (click)="left()" src="../../assets/home/Mobile carousel (1).svg " *ngIf="!disableLeft" fxShow.gt-sm="false"/>
            <img src="{{item.image}}" class="svg_img">
            <img class="btn-right" (click)="right()" src="../../assets/home/Mobile carousel.svg " *ngIf="!disableRight" fxShow.gt-sm="false"/>
            <img class="btn-right" src="../../assets/home/DisableL.svg" *ngIf="disableRight" fxShow.gt-sm="false"/>
          </div>
          <h2>{{item.alt}}</h2>
          <p>In built tools that can create rich, responsive applications 
            with code snippets, reusable patterns, best practice design guidelines…</p>
          <button (click)="redirect(item.link)">Learn More</button>
          <div>
          <img src="{{item.dot}}" class="dots" fxShow.gt-sm="false"/>
          </div>
      </div>
    </div>
</section>