<div class="container-main">
    <div class="slide" >
        <div class="slide-content">   
            <span class="resp-text">
                Introducing  
             </span>
             <span class="resp">FASTLANE</span> 
            
             <p class="intro-desktop resp-text-1">
                 A solution-based approach for fast-tracking web and mobile aplication development,
                 transforming apps by leveraging digital tenets and standardized framework.
             </p>
             <p class="intro-mobile">
                 A solution-based approach for fast-tracking
                  web and mobile application development.
             </p>
             <button (click)="quickTour()"> 
                   Take a Quick Tour
             </button>
        </div>
    </div>
  </div>
  
  
  

