<div class="container-main">
    
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="exp">Experience Design</li>
        </ul>
    
    <h2 class="heading">Experience Design</h2>
    <div class="slide" >
        <div class="slide-content">   
            
             <p class="intro-desktop resp-text-1">
                 A solution-based approach for fast-tracking web and mobile aplication<br> 
                 development,transforming apps by leveraging digital tenets
             </p>
             <p class="intro-mobile">
                 A solution-based approach for fast-tracking
                  web and mobile application development.
             </p>
             <button class="assess-now"> 
                   Assess Now
             </button>
             <button class="know-more"> 
                Know More
             </button>
        </div>
    </div>
  </div>
  
  
  

