@import '../../styles/variables.scss';
.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
    z-index: 100;
	top: 0;
	right: 0;
	background:#fff 0% 0% no-repeat padding-box;
    opacity:1;
    box-shadow: 6px 0px 6px #A3A3A329;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
    .profile{
        padding: 10px 10px 10px 30px;
        font: $section_content_text_font;
        border-bottom: 2px solid #f4f4f4;
        letter-spacing: 0px;
        color: #2E2E2E;
        opacity: 1;
        display: flex;
        align-items: center;
        .user{
            padding-left: 10px;
            padding-bottom: 5px;
        }
    }
	a {
		padding: 10px 10px 10px 30px;
		text-decoration: none;
        opacity: 1;
		color:#2A2E7D;
		display: block;
		transition: 0.3s;
		 a:active,a.active,a:hover{
            background-color: rgba(102, 102, 102,0.1);;
            border-left: 4px solid orange;
        }
		
	}
    
	.cancel {
		position: absolute;
		top: 18px;
        height: 20px;
        width: 20px;
		right: 25px;
		margin-left: 52px;
	}
	.uarrow{
         display: none;
	}
    .inside-assessment{
        height: 0;
        display: none;
        font: $section_content_text_font;
        font-size: 15px;

        a{
            padding-left: 50px;
            padding-top: 0px;
            
        }
        
    }
    .inside-accelerator{
        height: 0;
        display: none;
        font: $section_content_text_font;
        font-size: 15px;
        a{
            padding-left: 50px;
            padding-top: 0px;
        }
        
    }
    .logout{
        border-top: 2px solid #f4f4f4;
        // font: normal normal medium 20px/30px Bw Modelica-Medium;
        font: $section_button_font;
        // font-family: Bw Modelica-Medium;
	    // font-weight: medium;
	    font-size: 17px;
	    line-height: 30px;
    }
    .home{
        
        font: $section_button_font;
        font-size: 17px;
        line-height: 30px;
        color:#2E2E2E;
        margin-top: 15px;
        background-color: rgba(102, 102, 102,0.1);
        border-left: 5px solid orange;
        
    }
    .darrow{
        font: $section_content_text_font;
        letter-spacing: 0px;
        color:#2A2E7D;
        padding-top: 20px;
        padding: 10px 10px 10px 30px;
        img{
            padding-top: 10px;
            padding-right: 15px;
			float: right;
		}
        
    }
    .uarrow{
        font: $section_content_text_font;
        letter-spacing: 0px;
        color:#2A2E7D;
        padding-top: 20px;
        padding: 10px 10px 10px 30px;
        img{
            padding-top: 10px;
            padding-right: 15px;
			float: right;
		}
    }
}
@media (min-width:500px) {
   .side-nav{
       display: none;
   }
}
