.closeButton {
  float: right;
  border: none;
  background: none;
}
.previewImg {
  width: 100%;
}
// .cdk-overlay-container mat-dialog-container app-imagedialog .mat-dialog-content {
//     max-height: 80vh !important;
// }
