<!-- <div class="ren-footer">
  <div class="ren-footer-inner">
      Copyright © {{year}} LNT Infotech. All rights reserved.
  </div>
</div> -->



<!-- Footer -->
<footer class="text-left text-lg-start bgcolor">
  
  <section class="">
    <div class="container p-2">
      
      <div class="row mt-3">
        
        <div class="col-12 text-left col-sm-12 col-md-3 col-lg-6 col-xl-6 mx-auto mb-4">
         
          <div class="row mt-3 mb-3">
            <div class="col-2 col-sm-2 col-md-3 col-lg-2 col-xl-2 mx-auto ">
              <h1 class="text-large text-light" ><strong>LTI</strong></h1>
           </div>
            <div class="col-10 col-sm-10 col-md-9 col-lg-10 col-xl-10 mx-auto ">
               <img class="FastlaneImg img-fluid" src="../../assets/images/Logo_fastlane.svg"/>
               <!-- <h1 class="text-large  text-light font-italic" ><strong><i>FASTLANE</i></strong></h1> -->
            </div>
           
        </div>
         
        
          
          <p class="text-light"> @ 2021 Larsen & Toubro Infotech Limited</p>
          

          <div>
            <a href="" class="me-4 text-light">
              <i class="fab fa-facebook-f fa-lg"></i>
            </a>
    
            <a href="" class="me-4 text-light">
              <i class="fab fa-instagram fa-lg"></i>
            </a>
            <a href="" class="me-4 text-light">
              <i class="fab fa-linkedin fa-lg"></i>
            </a>
            <a href="" class="me-4 text-light">
              <i class="fab fa-youtube fa-lg"></i>
            </a>
          </div>
        </div>
        
        <div class="col-6 text-left col-sm-6 col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          
          <h4 class=" fw-bold mb-4 text-light">
            Assessments
          </h4>
          <p>
            <a href="#!" class="text-white-50">About Assessment</a>
          </p>
          <p>
            <a href="#!" class="text-white-50">Conduct Assessment</a>
          </p>
          <p>
            <a href="#!" class="text-white-50">Experience Design</a>
          </p>
          <p>
            <a href="#!" class="text-white-50">View Archives</a>
          </p>
        </div>
        
        <div class="col-6 text-left col-sm-6 col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
         
          <h4 class=" fw-bold mb-4 text-light">
            Accelerators
          </h4>
          <p>
            <a href="#!" class="text-white-50">Estimation</a>
          </p>
          <p>
            <a href="#!" class="text-white-50">Repository</a>
          </p>
          <p>
            <a href="#!" class="text-white-50">UX habitat</a>
          </p>
         
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-12 text-left col-sm-6 col-md-3 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h4 class=" fw-bold mb-4 text-light">
           LTI
          </h4>
          <p>
          <a href="#!" class="text-white-50">Privacy Policy</a>
          </p> 
            
          <p>
            <a href="#!" class="text-white-50">Terms & Conditions</a>
            </p> 

        
        </div>

        <!-- Grid column -->

        


      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  
</footer>
<!-- Footer -->


