<footer>
   <div class="">
    <section class="ft-main">
      <div class="ft-main-top-item">
            
           <img class="LTI-LOGO" src="../../assets/images/Font-awesome-Icons/LTI.svg">
          <img class="fastlane-logo" src="../../assets/images/Logo_fastlane.svg">
          
        <h4>@ 2021 Larsen & Toubro Infotech Limited</h4>
     
        <ul class="ft-social-list">
          <li><a href="#"><img class="img-icon" src="../../assets/images/Font-awesome-Icons/Icon-awesome-facebook-f.svg"></a></li>
          <li><a href="#"><img class="img-icon" src="../../assets/images/Font-awesome-Icons/Icon-awesome-instagram.svg"></a></li>
          <li><a href="#"><img class="img-icon" src="../../assets/images/Font-awesome-Icons/Icon-awesome-linkedin-in.svg"></a></li>
          <li><a href="#"><img class="img-icon" src="../../assets/images/Font-awesome-Icons/Icon-awesome-youtube.svg"></a></li>
        </ul>
      </div>
      <div class="right-comp">
      <div class="ft-subitems">
      <div class="ft-main-item">
       
        <h2 class="ft-title">Assessments</h2>
        <ul>
          <li><a href="#">About Assessments</a></li>
          <li><a href="#">Conduct Assessment</a></li>
          <li><a href="#">Experience Design</a></li>
          <li><a href="#">View Archives</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Accelerators</h2>
        <ul>
          <li><a href="#">Estimation</a></li>
          <li><a routerLink="/repository">Repository</a></li>
          <li><a href="#">UX Habitat</a></li>
        </ul>
      </div>
    </div>
      <div class="ft-main-item">
        <h2 class="ft-title">LTI</h2>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div>
    </div>
    </section>
    
  </div>
</footer>


 