@import '../../../styles/common.scss';

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
.cmn{
    box-shadow: 0px 1px 3px #00000033;
    border: 1px solid #2A2D86;
    border-radius: 4px;
    opacity: 1;
    width: 110px;
    height: 40px;
    margin:0px 10px 0px 10px;
    cursor:pointer;
}
.exit{
    background-color:white;
    color:#00078C;
}
.save{
    background: #2B2E8B 0% 0% no-repeat padding-box;
    color:white;
}

.first-div{
    order:1;
    justify-content: flex-end;
}
.second-div{
    order:2;
    justify-content: center;
}

.slant-rl{
    clip-path:polygon(0 0, 100% 0, 100% calc(100% - 70px), 0 100%);
    margin-bottom:-70px;
    position: relative;
}

.slant-lr{
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 70px));
    margin-bottom:-70px;
    position: relative;
}
.gradient-color{
    background-image:linear-gradient(#0670BA, #2A2E7D);
}

.container-main{
    width:100%;
    height:auto;
    font-family: Bw Modelica;

    padding:70px 0px;

    display: flex;
    align-items: center;
    flex-direction: row;
    .container-1,.container-2{
        flex:1;
        height:100%;
        padding-top:5%;
    }
    .container-1{
        display: flex;
        align-items: center;
        flex-direction: row;
        .image-container{
            height:600px;
            max-width:90%;
            padding:0px 10px;
            text-transform: capitalize;
            // background-color: cornflowerblue;
            img{
                width:100%;
            }
            .primary-image{
                position:relative;
                z-index: 2;
            }
            .left-back{
                position: relative;
                z-index: 1;
                margin-top:-280px;
                margin-left:-200px;
                width:100%;
            }
            .right-back{
                position: relative;
                z-index: 0;
                right:-200px;
                width:100%;
            }
            .heading-text{
                font:$section_header_text_font;
            }
            .sub-heading-text{
                font:$section_header_bold_text_font;
                margin-bottom:20px;
            }
        }
    }
    .container-2{
        display: flex;
        align-items: center;
        flex-direction: row;
        .description-container{
            height:200px;
            max-width:60%;
            padding:0px 10px;
            // background-color: cornflowerblue;
            font:$section_content_text_font;
            font-size:max(1.1vw,13px);
            button{
                display: block;
                margin-left:0px;
                margin-top: 30px;
                font:$section_button_font;
            }
        }
    }
}

@media (max-width: 500px) {
    .container-main{
        .container-1{
            .image-container{
                .heading-text{
                    font:$section_header_text_font_mobile;
                }
                .sub-heading-text{
                    font:$section_header_bold_text_font_mobile
                }
                .left-back{
                    position: relative;
                    z-index: 1;
                    margin-top: -150px;
                    margin-left: -120px;
                    width:100%;
                }
                .right-back{
                    position: relative;
                    z-index: 0;
                    right:-120px;
                    width:100%;
                }
            }
        }
        .container-2{
            .description-container{
                margin-top:-50px;
                font:$section_content_text_font_mobile;
                button{

                }
            }
        }
    }
}

@media (max-width: 800px) {
    .container-main{
       flex-direction: column;   
       .container-1{
        .image-container{
            height:100%;
            max-width:70%;
        }
       }
       .container-2{
           .description-container{
            height: 50%;
            max-width:70%;
            button{
                width:100%;
            }
           }
       }
    }
    .first-div{
        justify-content: center;
    }
    .container-main-reverse{
        flex-direction: column-reverse;
    }

}