button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
.cmn{
    box-shadow: 0px 1px 3px #00000033;
    border: 1px solid #2A2D86;
    border-radius: 4px;
    opacity: 1;
    width: 134px;
    height: 32px;
    margin:0px 10px 0px 10px;
    cursor:pointer;
}
.exit{
    background-color:white;
    color:#00078C;
}
.save{
    background: #2B2E8B 0% 0% no-repeat padding-box;
    color:white;
}

.first-div{
    order:1;
    margin-left: auto;
    margin-right:auto;
}
.second-div{
    order:2;
}

.slant-rl{
    clip-path:polygon(0 0, 100% 0, 100% calc(100% - 70px), 0 100%);
    margin-bottom:-70px;
    position: relative;
}

.slant-lr{
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 70px));
    margin-bottom:-70px;
    position: relative;
}
.gradient-color{
    background-image:linear-gradient(#0670BA, #2A2E7D);
}
.container-main{
    width:100%;
    height:100vh;
    font-family: Bw Modelica;

    padding:70px 20px;

    display: flex;
    align-items: center;
    flex-direction: row;
    .container-1,.container-2{
        width:50%;
        height:70%;
    }
    .container-1{
        line-height: 1;
        margin-right:20px;

        .image-head{
            font-size:1.5rem;
            // white-space: nowrap;
            .image-head-1{
                font-size:1.7rem;
            }
        }
        .primary-image{
            display: block;
            margin-left: auto;
            margin-right:auto;
            height:auto;
            max-width: 600px;
            min-width: 250px;
            width:100%;
            position: relative;
            z-index:10;
        }
        .background-image-left{
            display: block;
            // margin-left: auto;
            // margin-right:auto;
            height:auto;
            max-width: 600px;
            min-width: 250px;
            width:100%;
            position: relative;
            z-index:5;
            margin-top:-250px;
            margin-left:-150px;
        }
        .background-image-right{
            display: block;
            // margin-left: auto;
            // margin-right:auto;
            height:auto;
            max-width: 600px;
            min-width: 250px;
            width:100%;
            position: relative;
            z-index:5;
            top:-250px;
            right:-200px;

        }
    }
    .container-2{
        .text-decorator{
            font-size:1.1rem;
        }
        .container-desc{
            position: relative;
            top:40%;
            width:60%;
        }
        button{
            display: block;
            margin-top:20px;
            font-size:0.8rem;
            margin-left:0px;
        }
    }
}

@media (max-width: 800px) {
    .container-main{
        flex-direction: column;
        background-position: -80% 30%;
        .container-1,.container-2{
            width:80%;
        }
        .container-2{
            // margin-top:-50px;
            .container-desc{
                margin-top:-80px;
                width:100%;
            }
            button{
                width:100%;
            }
        }
    }
    .container-main-reverse{
        flex-direction: column-reverse;
    }

}