<div 
    class="container-main"
    id="container-main-id"
    #container_main
>
    <div class="container-1" id="container-in-1" #container_in_1>
        <div class="image-container">
            <div>
                <div class="heading-text">{{heading}}</div>
                <div class="sub-heading-text">{{sub_heading}}</div>
            </div>
            <img src="{{image}}" alt="picture" class="primary-image">
            <div class="left-back">
                <img *ngIf="left" src="../../../assets/home/LTI background left.svg" alt="" >
            </div>
            <div class="right-back">
                <img *ngIf="right" src="../../../assets/home/LTI background right.svg" alt="" >
            </div>
        </div>
    </div>
    <div class="container-2" id="container-in-2" #container_in_2>
        <div class="description-container">
            {{description}}
            <button #btn>
                {{button}}
            </button>
        </div>
    </div>
</div>
