<div 
    class="container-main"
    id="container-main-id"
    #container_main
>
    <div class="container-1" id="container-in-1" #container_in_1>
        <div class="image-container">
            <div>
                <p class="heading-text">{{heading}}</p>
                <p class="sub-heading-text">{{sub_heading}}</p>
            </div>
            <img src="{{image}}" alt="picture">
        </div>
    </div>
    <div class="container-2" id="container-in-2" #container_in_2>
        <div class="description-container">
            {{description}}
            <button #btn>
                {{button}}
            </button>
        </div>
    </div>
</div>
