<div class="hiw-section">
  <div class="hiw-title">How it <span class="hiw-title-bold">Works</span></div>
  <div class="flex-container">
    <div class="card1">
      <div class="card-img c1"></div>
      <div class="card-box">
        <div class="numb-text">01</div>
        <div class="card-heading">Send Your Details</div>
        <p class="card-desc">Give your details to us to install software to assess your digital products</p>
        <div class="card-link"><span class="link-text">Send Details</span> <span class="arrow"></span></div>
        <!-- <a class="card-link" href="#">Send Details <span class="arrow"></span></a> -->
      </div>
    </div>
    <div class="card2">
      <div class="card-img c2"></div>
      <div class="card-box">
        <div class="numb-text">02</div>
        <div class="card-heading">Assess Experience</div>
        <p class="card-desc">Give your details to us to install software to assess your digital products</p>
        <div class="card-link">Know More <span class="arrow"></span></div>
        <!-- <a class="card-link" href="#">Know More <span class="arrow"></span></a> -->
      </div>


    </div>
    <div class="card3">
      <div class="card-img c3"></div>
      <div class="card-box">
        <div class="numb-text">03</div>
        <div class="card-heading">Get Recommendation</div>
        <p class="card-desc">Give your details to us to install software to assess your digital products</p>
        <div class="card-link">View Sample Report <span class="arrow"></span></div>
        <!-- <a class="card-link" href="#">View Sample Report <span class="arrow"></span></a> -->
      </div>


    </div>
  </div>
  <!-- <div class="card-section">
<div class="card">
  <div>01</div>
  <div>Send Your Details</div>
  <p>Give your details to us to install software to assess your digital products</p>
  <div>Send Details</div>
</div>
<div class="card">
  <div>02</div>
  <div>Assess Experience</div>
  <p>Give your details to us to install software to assess your digital products</p>
  <div>Know More</div>
</div>
<div class="card">
  <div>03</div>
  <div>Get Recommendation</div>
  <p>Give your details to us to install software to assess your digital products</p>
  <div>View Sample Report</div>
</div> -->
</div>


<!-- <div id="div1">
  <div id="div2"></div>
</div> -->
