<div class="container-main">
    <div class="slide" >
        <div class="slide-content">   
            <span class="resp-text">
                Introducing  
             </span>
             <span class="resp">FASTLANE</span> 
            
             <p class="intro-desktop resp-text-1">
                An easy-to-use low tech footprint solution for 
                creating applications faster with reusable digital artifacts
             </p>
             <p class="intro-mobile">
                An easy-to-use low tech footprint solution for 
                creating applications faster with reusable digital artifacts
             </p>
             <button (click)="quickTour()"> 
                   Take a Quick Tour
             </button>
        </div>
    </div>
  </div>
  
  
  
