.container-main {

	background: url("../../../../assets/home/section-1.png");
	height: 550px;
    position: relative;
	background-size:100% 100%;

}
.slide {
    // margin-top: 180px;
    position: absolute;
	left: 0px;
	bottom:50px;
	width: 62%;
	height: 50%;
	background: linear-gradient(rgba(42,46,125,.4), rgba(42,46,125,.4)) 0% 0% no-repeat padding-box;
	clip-path:polygon(0 0, 100% 0, 90% 100%, 0 100%);
	.slide-content{
		width:93%;
	}
	.resp-text{
		font-family:Bw Modelica LTI;
		font-size:max(3vw,1.4rem);
		white-space: nowrap;
	}
	// .resp-text-1{
	// 	font-family:Bw Modelica LTI;
	// 	font-size:max(1.5vw,1rem);
	// }
	span {
		text-align: left;
		letter-spacing: 0px;
		color: #FFFFFF;
		padding-left: 40px;
	}
	b {
		text-align: left;
		font: bold italic normal normal 56px/88px Gotham;
		letter-spacing: 0px;
		color: #FFFFFF;
	}
}
.intro-desktop {
	text-align: left;
	font: normal normal normal 20px/40px Bw Modelica;
	letter-spacing: 0px;
	color: #FFFFFF;
	padding-left: 40px;
}
.intro-mobile {
	text-align: left;
	font: normal normal normal 24px/40px Bw Modelica;
	letter-spacing: 0px;
	color: #FFFFFF;
	padding-left: 40px;
}
button {
	text-align: center;
	font: normal normal medium 20px/30px Bw Modelica;
	letter-spacing: 0px;
	color: #2A2E7D;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 4px;
	width: 180px;
	height: 45px;
	margin-left: 40px;
}
@media (min-width:768px) {
	.intro-mobile {
		display: none;
	}
}
@media (max-width:768px) {
	.container-main {
		background: url("../../../../assets/home/Group\ 116457.png");
	}
	.slide {
		span {
			font: normal normal 300 20px/88px Bw Modelica LTI;
		}
		b {
			font: bold italic normal normal 20px/88px Gotham;
		}
		width: 350px;
	}
	.intro-desktop {
		display: none;
	}
	.intro-mobile {
		font: normal normal normal 13px/20px Bw Modelica;
	}
	button {
		width: 180px;
        font: normal normal medium 10px/30px Bw Modelica;
       
	}
}
