

<div class="container-main">
    <div class="slide" >
        
        <span>
           Introducing   
        </span>
        <b>FASTLANE</b>
        <p class="intro-desktop">
            A solution-based approach for fast-tracking web and mobile aplication development,
            transforming apps by leveraging digital tenets and standardized framework.
        </p>
        <p class="intro-mobile">
            A solution-based approach for fast-tracking
             web and mobile application development.
        </p>
        <button>
            Take a Quick Tour
        </button>
  
    </div>
  </div>
  
  
  
