<section class="banner">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="../../../../assets/images/About Assessment/Img1.png" />

        </ng-template>
        <ng-template carouselSlide>
            <img src="../../../../assets/images/About Assessment/Img2.png" />
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../../../assets/images/About Assessment/Img3.png" />
        </ng-template>

    </owl-carousel-o>
  
</section>

