<div class="exp-form">
    <div class="form">
        <h1 class="first-heading">Let’s transform your</h1> <h1 class="second-heading">Product Experience</h1>
        <p class="description">Submit your request for an Experience Design Assessment and our agents will get in touch with you shortly</p>
        
         <div class="form-group">
             <div class="nested" >
                <label class="fname">Full Name</label>
                <input type="text">
             </div>
             <div class="nested">
                <label class="oname">Organisation Name</label>
                <input type="text">
             </div>
             <div class="nested">
                <label class="omail">Organisation Email ID</label>
                <input type="text">
             </div>
             <div class="nested">
                <label class="oname">Contact Number</label>
                <input type="text">
             </div>
             <div class="nested">
                <label class="omail">Country</label>
                <input type="text">
             </div>
             <input type="checkbox">   
                
        </div>
    </div>

</div>