@import '../../../../styles/variables';
.exp-form{
    background-color: #ffff;
    height: auto;

    
    .heading{
        text-align: center;
        
        padding-top: 40px;
        // align-items: center;
        h1{
            // display: inline;
            color: #2A2E7D;
           
        }
        .first-heading{
            font: $section_single_line_header_font;
        }
        .second-heading{
            padding-left: 5px;
            font:  $section_header_bold_text_font;
            // font-size: 22px;
        }
        .description{
            font: $section_content_text_font;
            color: #2E2E2E;
            padding-top: 10px;
            opacity: 0.65;
        }
        
    }
    .submit{
        text-align: center;
        font: normal normal medium 18px/22px Bw Modelica;
        letter-spacing: 0px;
        color: #FFFFFF;
        background: #2A2E7D 0% 0% no-repeat padding-box;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        width: 130px;
        height: 40px;
        margin-left: 200px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
}

        .desktop{
            display: flex;
            flex-flow: row wrap;
            padding-left: 200px;
            margin-top: 20px;
            label{
                font: $section_content_text_font;
                color: #2E2E2E;
            }
            .nested{
                display: flex;
                flex-direction:column ;
                align-items: flex-start;
            }
            .nested:nth-child(1){
                flex:100%;
            }
            .nested:nth-child(2),.nested:nth-child(3){
                flex: 50%;
                padding-top: 2em;
                input[type=text] {
                    width: 80%;
                }
            }
            .nested:nth-child(4),.nested:nth-child(5){
                flex: 50%;
                padding-top: 2em;
                input[type=text] {
                    width: 80%;
                }
            }
            input[type=text] {
                display: block;
                border: none;
                outline: 0;
                width:90%;
                border-bottom: 1px solid #707070;
            }
          .check{
              margin-top: 30px;
          }
           
        }
        .mobile{
            // display: flex;
            // flex-flow: column wrap;
            padding-left: 10px;
            margin-top: 20px;
            label{
                font: $section_content_text_font;
                color: #2E2E2E;
            }
            input[type=text] {
                display: block;
                border: none;
                outline: 0;
                width:90%;
                border-bottom: 1px solid #707070;
            }
            .nested{
                margin-top: 10px;
            }
           
        }

@media (min-width:600px){
   h1{
       display: inline;
   }
}
@media (max-width:600px){
    p{
        display: none;
    }
    h1{
        display: block;
    }
}