<div class="exp-form">
   <div class="heading">
        <div class="first-heading">Let’s transform your</div> <div class="second-heading">Product Experience</div>
        <p class="description">Submit your request for an Experience Design Assessment and our agents will get in touch with you shortly</p>
      </div>
         <div class="form-group" [ngClass.gt-xs]="'desktop'" [ngClass.xs]="'mobile'">
             <div class="nested" >
                <label class="fname">Full Name</label>
                <input type="text">
             </div>
             <div class="nested">
                <label class="oname">Organisation Name</label>
                <input type="text">
             </div>
             <div class="nested">
                <label class="omail">Organisation Email ID</label>
                <input type="text">
             </div>
             <div class="nested">
                <label class="oname">Contact Number</label>
                <input type="text">
             </div>
             <div class="nested">
                <label class="omail">Country</label>
                <input type="text">
             </div>
             <div class="check"> 
             <input type="checkbox" class="large">
             <label class="check-label">I agree to receive communication from LTI. Refer to the LTI Privacy Policy to know more about how we <br> </label>
             <label class="check-label-2">maintain privacy of your data.</label>   
             </div>
            
        </div>
        <button class="submit">Submit Request</button>  

</div>