@import '../../../../styles/variables';
.exp-form{
    background-color: #0670ba;
    background-image: url("../../../../assets/experience_design/left.svg"),url("../../../../assets/experience_design/right.svg");
    background-position: bottom -120px left -320px,top -70px right -500px;
    background-repeat: no-repeat;
    height: auto;
    padding: 3em;
    display: flex;
    
    .form{
        background: #ffff;
        text-align: center;
        width:auto;
        padding-top: 40px;
        flex: 1;
        // align-items: center;
        height: auto;
        h1{
            display: inline;
            color: #2A2E7D;
           
        }
        .first-heading{
            font: $section_header_text_font;
        }
        .second-heading{
            padding-left: 5px;
            font: $section_header_bold_text_font;
            font-size: 22px;
        }
        .description{
            font: $section_content_text_font;
            color: #2E2E2E;
            padding-top: 10px;
            opacity: 0.65;
        }
        .form-group{
            display: flex;
            flex: 1;
            flex-flow: row wrap;
            padding-left: 200px;
            margin-top: 20px;
            label{
                font: $section_content_text_font;
                color: #2E2E2E;
            }
            .nested{
                display: flex;
                flex-direction:column ;
                align-items: flex-start;
            }
            .nested:nth-child(1){
                flex:100%;
            }
            .nested:nth-child(2),.nested:nth-child(3){
                flex: 50%;
                padding-top: 2em;
                input[type=text] {
                    width: 80%;
                }
            }
            .nested:nth-child(4),.nested:nth-child(5){
                flex: 50%;
                padding-top: 2em;
                input[type=text] {
                    width: 80%;
                }
            }
            input[type=text] {
                display: block;
                border: none;
                outline: 0;
                width:90%;
                border-bottom: 1px solid #707070;
            }
            // .oname,.oemail{
            //     display: flex;
            //     flex-direction: row;
            // }
        }
    
    }
}