<main class="main">
  
  <app-introduction></app-introduction>

  <app-video></app-video>

  <app-slant-section 
  [background_color]="'#0670BA'"
  [image]="'../../../../assets/home/mobile-and-web-apps.png'"
  [heading]="'Assess your'"
  [sub_heading]="'Mobile And Web Apps'"
  [description]="'A cross-functional team of designers, developers and business experts constantly challenge themselves to achieve breakthrough results in the shortest time.'"
  [button]="'Get Started'"
  [order]="'image-text'" 
  [slant]="'rl'"
  [elevation]="9">
  
  </app-slant-section>

  <app-slant-section 
  [background_color]="'white'"
  [image]="'../../../../assets/home/section-4.png'"
  [heading]="'Create'"
  [sub_heading]="'Indicative Solutions'"
  [description]="'A cross-functional team of designers, developers and business experts constantly challenge themselves to achieve breakthrough results in the shortest time.'"
  [button]="'Learn More'"
  [order]="'text-image'" 
  [slant]="'lr'"
  [elevation]="8">
  
  </app-slant-section>

  <app-slant-section 
  [background_color]="'#0670BA'"
  [image]="'../../../../assets/home/digital-experience.png'"
  [heading]="'Evaluate your products with our '"
  [sub_heading]="'Digital Experience'"
  [description]="'A cross-functional team of designers, developers and business experts constantly challenge themselves to achieve breakthrough results in the shortest time.'"
  [button]="'Try Now'"
  [order]="'image-text'" 
  [slant]="'rl'"
  [elevation]="7">
  
  </app-slant-section>

  <app-accelerators></app-accelerators>

  <app-client-feedback></app-client-feedback>
  <app-parallax-design [count]="7" [id]=5></app-parallax-design>

</main>