.main{
    // overflow-x:hidden;
}

@media (min-width : 499px){
.dots{
    position: absolute;
    top: 10%;
    position: fixed;
    right: 44px;
    z-index: 50;
    height: 280px;
    margin-top: 40px;
  }
  
  .dot {
    //cursor: pointer;
    height: 30px;
    width: 5.5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 20px;
    display: block;
    margin-bottom: 10px;
    /* display: inline-block; */
   // transition: background-color 1s ease;
  }
  
  .active {
    /* background-color: #717171; */
    background-color: rgb(212, 152, 39);
  }
}