<main class="main">
  
  <app-introduction></app-introduction>

  <app-video></app-video>

  <app-slant-section 
  [background_color]="'#0670BA'"
  [image]="'../../../../assets/home/mobile-and-web-apps.png'"
  [heading]="'Assess your'"
  [sub_heading]="'Mobile And Web Apps'"
  [description]="'Take our quick assessment to evaluate your portfolio of web and mobile channels. Generate a recommendation report to improve app usability, performance, and technology.'"
  [button]="'Get Started'"
  [order]="'image-text'" 
  [slant]="'rl'"
  [elevation]="9">
  
  </app-slant-section>

  <app-slant-section 
  [background_color]="'white'"
  [image]="'../../../../assets/home/section-4.png'"
  [heading]="'Create'"
  [sub_heading]="'Indicative Solutions'"
  [description]="'A recommendation engine to help you create the right pod structure for your project constituting designers, developers, and business experts.'"
  [button]="'Learn More'"
  [order]="'text-image'" 
  [slant]="'lr'"
  [elevation]="8">
  
  </app-slant-section>

  <app-slant-section 
  [background_color]="'#0670BA'"
  [image]="'../../../../assets/home/digital-experience.png'"
  [heading]="'Evaluate your products with our '"
  [sub_heading]="'Digital Experience'"
  [description]="'Enhance your experience with a unique solution that conducts perception- based usability testing of your web and mobile applications by reading your mind waves, and converting your emotions and feelings into heuristic value with neuroscience technology.'"
  [button]="'Try Now'"
  [order]="'image-text'" 
  [slant]="'rl'"
  [elevation]="7">
  
  </app-slant-section>

  <app-accelerators></app-accelerators>

  <app-client-feedback></app-client-feedback>
  <app-parallax-design [count]="7" [id]=5></app-parallax-design>

</main>