<header class="header">
    <div class="side-nav" (click)="nDisplay()">
        <div class="mobile-head-logo">
            <div class="logo">
                <img alt="LTI" src="../../assets/Header/LTI_logo.svg" width="35px" routerLink="/home"/>
            </div>
            <div class="option no-pointer">
                <img src="../../assets/Header/FASTLANE.svg" width="120px">
                <!-- <em>FASTLANE</em>  -->
            </div>
        </div>
        <div>
            <img src="../../assets/Header/hamburger.svg" alt="MENU" >
        </div>
    </div>
    <div class="container-main DesktopOnly">   
        <div class="container-1">
            <div class="logo">
                <img alt="LTI" src="../../assets/Header/LTI_logo.svg" width="35px" routerLink="/home"/>
            </div>
            <div class="options">
                <div class="option no-pointer">
                    <img src="../../assets/Header/FASTLANE.svg" width="120px">
                    <!-- <em>FASTLANE</em>  -->
                </div>
            </div>
            <div id="home" class="options home-option">
                <div class="option">
                    Home
                </div>
            </div>
            <div *ngFor="let dda of dropdownArray" class="options" appFader>
                <div class="option">
                    {{dda.name}} 
                    <img width="10px" height="10px" src="../../assets/Hamburger/arrow-down.svg" alt="">
                </div>
                <div class="menu">
                    <div appHover *ngFor="let list_items of dda.dropdown_list" class="menu-items">
                        {{list_items.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-2">
            <button class="cmn save">Start Assessment</button>
            <div class="profile">
                <!-- <mat-icon [matMenuTriggerFor]="menu">account_circle</mat-icon> -->
                <img [matMenuTriggerFor]="menu" src="../../assets/Header/Profile Icon.svg" alt="" width="20px">
                <mat-menu #menu="matMenu" class="menu-Holder">
                  <button mat-menu-item (click)="logout()">Logout</button>
                </mat-menu>
            </div>
        </div>
    </div>


    
    <!-- <nav class="DesktopOnly">
        <ul class="navigationItems">
            <li class="navigationItem">
                <a routerLink="/repository">Repo</a>
            </li>
            <li class="navigationItem">
                <a routerLink="/repository/Admin">Admin</a>
            </li>
            <li class="navigationItem">
                <a routerLink="/repository/AddForm">AddForm</a>
            </li>
            <li class="navigationItem">
                <a>Link4</a>
            </li>
            <li class="navigationItem">
                <div class="profile">
                    <mat-icon [matMenuTriggerFor]="menu">account_circle</mat-icon>
                    <mat-menu #menu="matMenu" class="menu-Holder">
                      <button mat-menu-item (click)="logout()">Logout</button>
                    </mat-menu>
                </div>
            </li>
        </ul>
    </nav> -->
</header>