<div class="container-main" fxLayout="column" fxLayoutAlign="center center"  >
  <div>
 <h1>Discover our <span>Assessments</span></h1>
 </div>
 

   
  <div  >
    <img class="front" src="../../../../assets/home/section-2.png" alt=""> 
   </div>

<div>
  <p>
      The ultimate low code solution to make your workflow seamless and efficient.<br>
  This helps you to quickly rollout mobile apps and websites that align with your business dirver in a cost effictive way.
  </p>
 </div>

 <div>
   <button type="button" onclick="">
     <span style="font-family: Bw Modelica-Medium;">
       Explore Assessments
     </span>
   </button>
 </div>
 

</div>

